#navbar-header {
  background-color: rgba(84, 182, 180, 255);
}

img {
  min-width: 200px;
  max-width: 200px;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}

#articles {
  display: flex;
  flex-wrap: wrap;
}

#articles li {
  flex: 0 0 25%;
  max-width: 25%;
  min-width: 300px;
}

p {
  font-size: 0.9em;
}

.background-shop {
  background-color: #f6b12d;
}

.card {
  width: 400px;
}

.place-content-bottom{
  position : absolute;
  bottom   : 0
}

